/*body {
  margin: 0;
  padding: 0;
}

html, body, .whole-page, .parallax-section {
  height: 100vh;
}

.whole-page {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; 
}

.parallax-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-content {
  padding: 0px 20px; 
}

section {
  padding: 50px 0; 
}

.parallax-content-h2{
  padding-top: 100px !important;

}

.parallax-content-h3{
  font-size: 2rem;
  margin-bottom: 20px;
}*/