/* src/components/NavBar.css */

nav {
    height: 50px;
    background-color: #060120;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-left: 10px;
  }
  
  li:last-child {
    margin-left: auto;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 12px;
  }
  
  .cursive-text {
    font-family: 'Brush Script MT', cursive; /* Specify your cursive font */
    font-size: 50px; /* Adjust font size as needed */
    color: #48b9f2;
    margin-left: 210px; /* Add margin for spacing between items */
  }
  
  a:hover {
    color: #6df0f5; /* Change to your desired hover color */
    font-size: 110%;
  }