@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

.outer-container-contact-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.map-frame {
  height: 500px;
  width: 600px;
  border-radius: 20px;
}

.form-container {
  width: 100%;
  /* max-width: 45vw; */
}