@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

.form-container label{
    color: black !important;
    font-weight: bold !important;
}

.outer-contact-us{
    background-size:fill;
    background-image: url('../assets/beach.jpg');
    background-repeat: no-repeat;
}

.heading{
    width: 100%;
    text-align: center;
    color: darkblue;
    font-size: 32pt;
    font-weight: bold;
}

.outer-container-contact-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.map-frame {
  height: 500px;
  width: 600px;
  border-radius: 20px;
}

.form-container {
  width: 100%;
  /* max-width: 45vw; */
}