.yt-container {
  position: absolute;
  top: 0;
  left: -0px !important;
  width: 100vw !important;
  z-index: -1 !important;
}

.outer-container-press-inq {
  display: flex !important;
  justify-content: center !important;
}

.blog-container-main {
  height: 420px !important;
  width: 500px !important;
}

.yt-container button {
  display: none;
}

.carousel-item {
  height: 100vh !important;
}

.blog-container-main label {
  color: #212121 !important;
  font-weight: bolder;
}

.title {
  text-align: center;
  font-size: 32pt;
  font-weight: bold;
  color: dodgerblue;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.blog-container-main {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}